.desc {
  width: 100%;
  height: 250px;
  padding: 8px;
  overflow: scroll;
  font-size: 16px;
  background-color: lightcyan;
  border: 1px solid #000000;
}

.desc p {
  margin-bottom: 4px;
}

.jump-link {
  margin-top: 16px;
}